<h2>Organization Information:</h2>
<table>
    <tr>
        <td>Organization:</td>
        <td style="color:#990022;">{{ org }}</td>
    </tr>
    <tr>
        <td>Organization's Representative:</td>
        <td style="color:#990022;">{{ org_rep }}</td>
    </tr>
    <tr>
        <td>Address Line 1:</td>
        <td style="color:#990022;">{{ address_line1 }}</td>
    </tr>
    <tr>
        <td>Address Line 2:</td>
        <td style="color:#990022;">{{ address_line2 }}</td>
    </tr>
    <tr>
        <td>City:</td>
        <td style="color:#990022;">{{ city }}</td>
    </tr>
    <tr>
        <td>State/Province/Region:</td>
        <td style="color:#990022;">{{ state }}</td>
    </tr>
    <tr>
        <td>Zip/Postal Code:</td>
        <td style="color:#990022;">{{ zipcode }}</td>
    </tr>
    <tr>
        <td>Email :</td>
        <td style="color:#990022;">{{ email }}</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td style="color:#990022;">{{ phone }}</td>
    </tr>
</table>
<h2>Speaker/Event Information:</h2>
<table>
    <tr>
        <td>Type of Event:</td>
        <td style="color:#990022;">{{ type_of_event }}</td>
    </tr>
    <tr>
        <td>Requested Date:</td>
        <td style="color:#990022;">{{ requested_date }}</td>
    </tr>
    <tr>
        <td>Requested Time:</td>
        <td style="color:#990022;">{{ requested_time }}</td>
    </tr>
    <tr>
        <td>Estimated Audience:</td>
        <td style="color:#990022;">{{ estimated_audience }}</td>
    </tr>
    <tr>
        <td>Event Location:</td>
        <td style="color:#990022;">{{ event_location }}</td>
    </tr>
    <tr>
        <td>:</td>
        <td style="color:#990022;">{{ speaker_first_choice }}</td>
    </tr>
    <tr>
        <td>Speaker (First Choice):</td>
        <td style="color:#990022;">{{ topic_first_choice }}</td>
    </tr>
    <tr>
        <td>Topic (First Choice):</td>
        <td style="color:#990022;">{{ speaker_second_choice }}</td>
    </tr>
    <tr>
        <td>Speaker (Second Choice):</td>
        <td style="color:#990022;">{{ topic_second_choice }}</td>
    </tr>
    <tr>
        <td>Topic (Second Choice):</td>
        <td style="color:#990022;">{{ comments }}</td>
    </tr>
</table>